{% extends 'base.html.twig' %}

{% block content %}
<div class="tabs is-centered is-medium is-toggle mt-5" id="main-nav">
    <ul>
        <li class="is-active"><a href="#main">Main</a></li>
        <li><a href="#gamejam">Gamejams</a></li>
        <li><a href="#about">About</a></li>
    </ul>
</div>
<div id="articles">
    <div id="target-main">
        <div class="container notification">
            Welcome on my website<br>
            Things are quite more empty than before, the old website was a bit of a mess on some points so I'm slowly redoing things with Bulma<br>
            And of course as a good developer I'm pushing in prod <span class="material-symbols-outlined">plumbing</span>
        </div>
        <div class="container">
            <h2 class="title">Ongoing projects</h2>
            {% for project in projects %}
            <div class="content">
                <h3 class="subtitle">{{ project.name }}</h2>
                <p>{{ project.description }}</p>
            </div>
            <div class="content">
                {% for link in project.links %}
                    {% if nsfw and link.nsfw or not link.nsfw %}
                    <a class="button{% if link.type == "primary" %} is-primary{% endif %}" href="{{ link.content }}" target="_blank"/>{{ link.name }}</a>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="fixed-grid  has-{{ project.images | length }}-cols">
                <div class="grid">
                    {% for img in project.images %}
                        {% if nsfw and img.nsfw or not img.nsfw %}
                        <div class="cell"><img src="/data/img/projects/{{ img.name }}" alt="{{ project.name }} preview: {{ img.description }}"/><legend>{{ img.description }}</legend></div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="is-hidden container is-fluid" id="target-gamejam">
        <div class="container control">
            {% include 'gamejamFilters.html.twig' %}
        </div>
        <h3 class="subtitle has-text-centered">{{ jams.data | length }}<span id="entriesFiltered"></span> entries</h3>
        <div class="mt-5 is-flex is-justify-content-center is-flex-wrap-wrap is-gap-5">
            {% for jam in jams.data %}
                {% include 'gamejam.html.twig' %}
            {% endfor %}
        </div>
    </div>
    <div class="is-hidden container" id="target-about">
        <div>
            <h2 class="subtitle">Questions</h2>
            <div class="button container question" id="contact">How can I contact you?</div>
            <div class="container is-hidden answer" id="answer-contact">
                You can either contact me on Discord at <code>zirk</code> or by mail at <a href="mailto:contact@zirk.eu">contact@zirk.eu</a><br>
                <small>Please don't message me about improving my website ranking or promoting your stuff, I'm not answering them</small>
            </div>
            <div class="button container question" id="framework">What is this website made with?</div>
            <div class="container is-hidden answer" id="answer-framework">
                This website was made using <a href="https://twig.symfony.com/" target="_blank">Twig</a> for the structure and <a href="https://bulma.io/" target="_blank">Bulma</a> for the styling<br>
                <br>
                I'm have been <a href="/data/img/website/v1.png" target="_blank">redoing</a> <a href="/data/img/website/v2.png" target="_blank">this</a> <a href="/data/img/website/v3.png" target="_blank">website</a> <a href="/data/img/website/v4.png" target="_blank">maybe</a> <a href="/data/img/website/v5.png" target="_blank">too</a> <a href="/data/img/website/v6.png" target="_blank">many</a> <a href="/data/img/website/v7.png" target="_blank">times</a><br>
                ...But this time I have a good structure and good framework so this should be the last time... Right?<br>
                <br>
                Source code <a href="https://github.com/Xwilarg/zirk.eu-old" target="_blank">is available on GitHub</a><br>
                If you are interested by older versions, there are also repos for <a href="https://github.com/Xwilarg/zirk.eu-v7" target="_blank">V6/V7</a>, <a href="https://github.com/Xwilarg/zirk.eu-v5" target="_blank">V5</a> and <a href="https://github.com/Xwilarg/zirk.eu-old" target="_blank">older versions</a>
            </div>
            <div class="button container question" id="data">What information does this website collect?</div>
            <div class="container is-hidden answer" id="answer-data">
                This website is using <a href="https://github.com/Astylodon/Shika" target="_blank">Shika</a> for its analytics<br>
                We still need to write a proper privacy policy for it, but basically we don't collect store anything that associate data to an user
            </div>
            <div class="button container question" id="nsfw">How to toggle sensitive content?</div>
            <div class="container is-hidden answer" id="answer-nsfw">
                {% if nsfw %}
                    You are on the adult version of this website<br>
                    <br>
                    You can choose to go back on the all-age version by clicking here: <a class="button" href="?s=1">Disable mature content</a>
                {% else %}
                    You are on the all-ages version of this website<br>
                    <br>
                    You can choose opt-in for mature content by clicking here: <a class="button" href="?s=0">Enable mature content</a>
                {% endif %}
            </div>
            <div class="button container question" id="other">Anything else?</div>
            <div class="container is-hidden answer has-text-centered" id="answer-other">
                <img class="is-image" src="/img/potato.png"/>
            </div>
        </div>
    </div>
</div>
{% endblock %}