{% extends 'base.html.twig' %}

{% block content %}
<div class="tabs is-centered is-medium is-toggle mt-5" id="main-nav">
    <ul>
        <li class="is-active"><a href="#main">Home</a></li>
        <li><a href="#project">Projects</a></li>
        <li><a href="#gamejam">Gamejams</a></li>
        <li><a href="#about">About</a></li>
    </ul>
</div>
<div id="articles">
    <div id="target-main">
        <div class="container">
            {% for elem in home %}
            <div class="content">
                <h3 class="subtitle">{{ elem.name }}</h2>
            </div>
            <div class="content">
                {% if nsfw and elem.link.nsfw or not elem.link.nsfw %}
                    {% if elem.link.target %}
                        <a class="button is-primary target-{{ elem.link.target }}" href="#{{ elem.link.target }}"/>{{ elem.link.name }}</a>
                    {% else %}
                        <a class="button is-primary" href="{{ elem.link.content }}" target="_blank"/>{{ elem.link.name }}</a>
                    {% endif %}
                {% endif %}
            </div>
            <div class="fixed-grid  has-3-cols">
                <div class="grid">
                    {% for img in elem.images | filter(x => nsfw and x.nsfw or not x.nsfw)[:3] %}
                        <div class="cell"><img class="project-image" src="/data/img/{% if img.folder %}{{ img.folder }}{% else %}home{% endif %}/{{ img.name }}" alt="{{ project.name }} preview: {{ img.description }}"/><legend>{{ img.description }}</legend></div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="is-hidden" id="target-project">
        <div class="container">
            <h2 class="title">Ongoing projects</h2>
            {% for project in projects %}
            <div class="content">
                <h3 class="subtitle">{{ project.name }}</h2>
                <p>{{ project.description }}</p>
            </div>
            <div class="content">
                {% for link in project.links %}
                    {% if nsfw and link.nsfw or not link.nsfw %}
                    <a class="button{% if link.type == "primary" %} is-primary{% endif %}" href="{{ link.content }}" target="_blank"/>{{ link.name }}</a>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="fixed-grid  has-3-cols">
                <div class="grid">
                    {% for img in project.images | filter(x => nsfw and x.nsfw or not x.nsfw)[:3] %}
                        <div class="cell"><img class="project-image" src="/data/img/projects/{{ img.name }}" alt="{{ project.name }} preview: {{ img.description }}"/><legend>{{ img.description }}</legend></div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="is-hidden container is-fluid" id="target-gamejam">
        <div class="container control">
            {% include 'gamejamFilters.html.twig' %}
        </div>
        <h3 class="subtitle has-text-centered">{{ jams.data | length }}<span id="entriesFiltered"></span> entries</h3>
        <div class="mt-5 is-flex is-justify-content-center is-flex-wrap-wrap is-gap-5">
            {% for jam in jams.data %}
                {% include 'gamejam.html.twig' %}
            {% endfor %}
        </div>
    </div>
    <div class="is-hidden container" id="target-about">
        <div>
            {% include 'faq.html.twig' %}
        </div>
    </div>
</div>
{% endblock %}