<div class="container is-flex is-flex-wrap-wrap is-justify-content-center" id="target-main-container">
    <div class="card" id="card-sketch">
        <div class="card-content">
            <div class="content">
                <h2 class="title">Player</h2>
                <p class="subtitle"></p>
            </div>
            <div class="content" id="screen-container">
                <p id="unity-loading" class="is-hidden">
                    Loading...
                </p>
                <div id="screen-off">
                    <button class="button" id="screen-power"><span class="material-symbols-outlined">power_settings_new</span></button>
                    <canvas id="screen-canvas"></canvas>
                </div>
                <div id="screen-on" class="is-hidden">
                    <div id="unity-container" class="unity-desktop">
                        <canvas id="unity-canvas" tabindex="-1"></canvas>
                        <div id="unity-warning"></div>
                    </div>
                    <div id="unity-buttons">
                        <button class="button" id="fullscreen">
                            <span class="material-symbols-outlined">fullscreen</span>
                        </button>
                        <button class="button" id="widescreen">
                            <span class="material-symbols-outlined">panorama_wide_angle</span>
                        </button>
                        <button class="button" id="keep">
                            <span class="material-symbols-outlined">keep</span>
                        </button>
                        {% for s in sketch %}
                        <button class="button sketch-button" id="sketch-{{ s.id }}" data-scene="{{ s.scene }}">
                            {% if s.type == "icon" %}
                                <span class="material-symbols-outlined">{{ s.name }}</span>
                            {% else %}
                                {{ s.name }}
                            {% endif %}
                        </button>
                        {% endfor %}
                    </div>
                    <!--<div id="unity-explanations">
                        <fieldset>
                            <legend>Explanations</legend>
                            {% for s in sketch %}
                            <div id="sketch-{{ s.id }}-expl" hidden>
                            {{ s.explanations | join("<br>") | raw }}
                            </div>
                            {% endfor %}
                        </fieldset>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
    <div class="break is-hidden"></div>
    <div class="card" id="card-intro">
        <div class="card-content">
            <div class="content">
                <h2 class="title">Intro</h2>
                <p class="subtitle"></p>
            </div>
            <div id="main-intro">
                Welcome on my website! I'm a french game and software developer<br>
                This website is my little green<small>(?)</small> place where I put my likings and organize them into little boxes<br>
                <br>
                This place is always a big work in progress but don't hesitate to explore around :)<br>
                <br>
                Oh, and if you read until there, please draw me a little sheep and send it to me using one of the mean below so I can feature it on this website once I have enough <small>(your drawing skills doesn't matter, I just want sheepies)</small>
            </div>
            <div class="container is-flex is-justify-content-center is-flex-wrap-wrap socials">
               {% for social in socials["contacts"] | filter(x => nsfw or not x.nsfw) %}
                   {% include 'social.html.twig' %}
               {% endfor %}
            </div>
        </div>
    </div>
    {% for elem in home %}
    <div class="card" id="card-project">
        <div class="card-content">
            <div class="content">
                <h2 class="title">{{ elem.name }}</h2>
                <p class="subtitle">{{ elem.catch }}</p>
            </div>
            <div class="content home-buttons">
                {% if nsfw and elem.link.nsfw or not elem.link.nsfw %}
                    {% if elem.link.target %}
                        <a class="button is-primary target-{{ elem.link.target }}" href="#{{ elem.link.target }}"/>{{ elem.link.name }}</a>
                    {% else %}
                        <a class="button is-primary" href="{{ elem.link.content }}" target="_blank"/>{{ elem.link.name }}</a>
                    {% endif %}
                {% endif %}
            </div>
            <div class="is-flex is-flex-direction-column card-images">
                {% set img = elem.images | filter(x => (nsfw and x.nsfw) or x.nsfw is null or (not nsfw and not x.nsfw)) | first %}
                <div class="home-main-image is-flex is-align-items-center is-justify-content-center">
                    <div>
                        <img class="project-image" src="/img/{% if img.folder %}{{ img.folder }}{% else %}home{% endif %}/{{ img.name }}" data-target="/data/img/{% if img.folder %}{{ img.folder }}{% else %}home{% endif %}/{{ img.name }}" />
                        <legend>{{ img.description }}</legend>
                    </div>
                </div>
                <div class="menu-container is-flex is-justify-content-center">
                    {% for key,img in elem.images | filter(x => (nsfw and x.nsfw) or x.nsfw is null or (not nsfw and not x.nsfw))[:3] %}
                        <img class="{% if key == 0 %}selected{% endif %}"
                            src="/img/{% if img.folder %}{{ img.folder }}{% else %}home{% endif %}/{{ img.name }}" 
                            data-target="/data/img/{% if img.folder %}{{ img.folder }}{% else %}home{% endif %}/{{ img.name }}"
                            data-preview="{{ img.description }}" alt="{{ img.description }}"/>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="container is-flex is-justify-content-center is-flex-wrap-wrap socials">
    {% for social in socials["socials"] | filter(x => nsfw or not x.nsfw) %}
        {% include 'social.html.twig' %}
    {% endfor %}
</div>