{% extends 'base.html.twig' %}

{% block content %}
<div class="modal" id="modal-preview">
    <div class="modal-background"></div>
    <div class="modal-content is-flex is-justify-content-center">
        <img src="" id="image-preview"/>
    </div>
    <button class="modal-close is-large" aria-label="close" id="close-preview"></button>
</div>
<div class="is-flex is-justify-content-center" id="pinned-sketch">
</div>
<div class="tabs is-centered is-medium is-toggle mt-5" id="main-nav">
    <ul>
        <li class="is-active"><a href="#main">Home</a></li>
        <li><a href="#project">Projects</a></li>
        <li><a href="#gamejam">Gamejams</a></li>
        <li class="is-hidden" id="lore-tab"><a href="#lore">Lore</a></li>
        <li><a href="#about">About</a></li>
    </ul>
</div>
<div id="articles">
    <div id="target-main">
        {% include 'home.html.twig' %}
    </div>
    <div class="is-hidden" id="target-project">
        <div class="container">
            <h2 class="title">Ongoing projects</h2>
            {% for project in projects %}
            <div class="content">
                <h3 class="subtitle">{{ project.name }}</h2>
                <p>{{ project.description }}</p>
            </div>
            <div class="content">
                {% for link in project.links %}
                    {% if nsfw and link.nsfw or not link.nsfw %}
                    <a class="button
                    {% if link.type == "primary" %} is-primary
                    {% elseif link.type == "discord" %} is-info
                    {% elseif link.type == "revolt" %} is-danger
                    {% endif %}
                    " href="{{ link.content }}" target="_blank"/>{{ link.name }}</a>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="is-flex is-flex-wrap-wrap is-flex-direction-row is-justify-content-space-evenly">
                {% for img in project.images | filter(x => (nsfw and x.nsfw) or x.nsfw is null or (not nsfw and not x.nsfw))[:3] %}
                    <div class="project"><img loading="lazy" class="project-image" src="/img/projects/{{ img.name }}" data-target="/data/img/projects/{{ img.name }}" alt="{{ img.description }}"/><legend>{{ img.description }}</legend></div>
                {% endfor %}
            </div>
            {% endfor %}
            <div class="content">
                <h3 class="subtitle">Old Projects</h2>
                <p>Projects that reached a cool state but... that I gaved up on</p>
            </div>
            <div class="is-flex is-flex-wrap-wrap is-flex-direction-row is-justify-content-space-evenly" id="old-projects">
                {% for p in projectsOld | filter(x => nsfw or not x.nsfw) %}
                    <div class="project is-hidden"><img loading="lazy" class="project-image" src="/img/projects-old/{{ p.image.id }}.png" data-target="/data/img/projects-old/{{ p.image.id }}.png" alt="{{ p.description }}"/><legend>{{ p.description }}</legend></div>
                 {% endfor %}
            </div>
            <button id="old-random" class="button">Show randoms!</button>
        </div>
    </div>
    <div class="is-hidden container is-fluid" id="target-gamejam">
        <div class="container control">
            {% include 'gamejamFilters.html.twig' %}
        </div>
        <h3 class="subtitle has-text-centered">{{ jams.data | length }}<span id="entriesFiltered"></span> entries</h3>
        <div class="mt-5 is-flex is-justify-content-center is-flex-wrap-wrap is-gap-5">
            {% for jam in jams.data %}
                {% include 'gamejam.html.twig' %}
            {% endfor %}
        </div>
    </div>
    <div class="is-hidden container is-fluid" id="target-lore">
            {% include 'lore.html.twig' %}
    </div>
    <div class="is-hidden container" id="target-about">
        <div class="section">
            <h2 class="subtitle">Lifelines</h2>
            <h3 class="subtitle">Dynamics</h3>
            <div>
                {% for line in lifeline.dynamics %}
                    <p>
                        {{ line.name }}: <span id="lifeline-{{line.name}}">{{ line.id ?? "Broken" }}</span>
                    </p>
                {% endfor %}
            </div>
            <button class="button" id="lifelines-update">Pull lines</button>
            <h3 class="subtitle">Statics</h3>
            <div class="lifeline-static-container">
                {% for name, data in lifeline.statics %}
                    <div class="is-flex is-align-items-center is-flex-direction-column">
                        <p class="has-text-centered">{{ name }}: <span>{{ data.id }}</span></p>
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input type="text" class="input" placeholder="Verification" data-id="{{ data.id }}" data-hash="{{ data.hash }}" id="lifeline-{{ name | lower }}-input"/>
                            </div>
                            <div class="control">
                                <button class="button static-lifeline" id="lifeline-{{ name | lower }}">Validate</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="section">
            <h2 class="subtitle">About me</h2>
            <div class="button container question" id="travels">Travels</div>
            <div class="container is-hidden answer" id="answer-travels">
                <div id="map-container">
                    <div id="map"></div>
                    <div id="map-preview-container" class="is-hidden is-flex is-justify-content-center is-align-items-center">
                        <img id="map-preview"/>
                    </div>
                </div>
                <script type="application/json" id="travels-json">
                    {{ travels | replace({'<': '&lt;' }) | raw }}
                </script>
            </div>
            <div class="button container question" id="games-replay">Steam replay</div>
            <div class="container is-hidden answer" id="answer-games-replay">
                <div class="is-flex is-flex-wrap-wrap" id="steam">
                    <img loading="lazy" src="/data/img/steam/2024.png" />
                    <img loading="lazy" src="/data/img/steam/2023.png" />
                    <img loading="lazy" src="/data/img/steam/2022.png" />
                </div>
            </div>
            <div class="button container question" id="games-majsoul">Mahjong Soul</div>
            <div class="container is-hidden answer" id="answer-games-majsoul">
                <a class="button is-info" target="_blank" href="https://amae-koromo.sapk.ch/player/106970934/9">Stats</a><br>
                <br>
                <img loading="lazy" src="/data/img/majsoul/profile.jpg" />
            </div>
        </div>
        {% include 'faq.html.twig' %}
        <div class="section">
            <h2 class="subtitle">Outdated projects</h2>
            <div class="button container question" id="terminal">Terminal</div>
            <div class="container is-hidden answer" id="answer-terminal">
                <textarea class="textarea" id="terminal-output" rows="10" readonly></textarea>
                <form class="field has-addons container" id="terminal-form">
                    <p class="control is-expanded">
                        <input class="input" type="text" id="terminal-field"/>
                    </p>
                    <p class="control">
                        <button class="button is-link" type="submit">Input</button>
                    </p>
                </form>
            </div>
            <div class="button container question" id="console">Micropis</div>
            <div class="container is-hidden answer" id="answer-console">
                <div id="console-explanations">
                    Each micropi are capable of doing one simple task, try to find them and compile your own nanopi!
                </div>
                <hr/>
                <div id="console-data">You look around you and see a bunch of empty small seats, any micropi that would seat on them would feel very comfortable</div>
                <textarea class="textarea" id="console-field" rows="15"></textarea>
                <textarea class="textarea" id="console-output" rows="10" readonly></textarea>
                <button class="button is-link" id="console-btn">Input</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}