<div class="container">
    <div class="is-flex is-justify-content-space-evenly">
        <button class="button" id="lore-rhefir">Rhefir</button>
        <button class="button" id="lore-nehneh">Neh</button>
        <a class="button" target="_blank" href="https://minipi.zirk.eu/">Minipi</a>
    </div>
    <div class="container">
        Welcome in my amazing lore tab, where I do my little creative things, sometimes with the help of friends<br/>
        "So what are you going to do with that", you might ask<br/>
        Well, nothing! But it sure is fun to create
    </div>
    <hr/>
    <div class="container is-hidden" id="answer-lore-rhefir">
        <h2 class="subtitle">Base concepts</h2>
        <p>
            {{ lore.world.description | join("<br/>") | raw }}
        </p>
        <div class="lore-display">
            <div>
                {% for e in lore.world.data %}
                    <button class="btn-lore button" data-description="{{ e.description | join("\n") }}">{{ e.name }}</button>
                {% endfor %}
            </div>
            <textarea class="textarea" id="lore-world-text" rows="15" readonly>
            </textarea>
        </div>
        <h2 class="subtitle">Species</h2>
        <p>
            {{ lore.species.json.description | join("<br/>") | raw }}
        </p>
        <div class="lore-display" id="lore-species">
            <div id="lore-species-network"></div>
            <textarea class="textarea" id="lore-species-text" rows="15" readonly>
            </textarea>
        </div>
        <script type="application/json" id="lore-species-json">
            {{ lore.species.raw | replace({'<': '&lt;' }) | raw }}
        </script>
    </div>
    <div class="container is-hidden" id="answer-lore-nehneh">
        <div class="is-flex is-justify-content-center is-flex-wrap-wrap">
            <iframe src="https://lore.katsis.net/embed.php?c=Wargo&s={% if nsfw %}0{% else %}1{% endif %}" scrolling="no"></iframe>
            <iframe src="https://lore.katsis.net/embed.php?c=Yräthea&s={% if nsfw %}0{% else %}1{% endif %}" scrolling="no"></iframe>
            <iframe src="https://lore.katsis.net/embed.php?c=Calindra&s={% if nsfw %}0{% else %}1{% endif %}" scrolling="no"></iframe>
            <iframe src="https://lore.katsis.net/embed.php?c=Kaelith&s={% if nsfw %}0{% else %}1{% endif %}" scrolling="no"></iframe>
        </div>
    </div>
</div>