<div class="container">
    <div class="container">
        <h2 class="title">Rhefir</h2>
        <p>
            Rhefir is a world primarily created by a god named "Rhe"<br/>
            <br/>
            Our stories maybe are what we call the "lower-world", a group of floating islands where half-beasts species lives<br/>
            Technological progress is led by magic, like in military with the use of bolt-rifle infused with spells, or in various others areas such as people using fire stones to heat themselves or redox stones to fasten agriculture processes
        </p>
        <h3 class="subtitle">World concepts</h3>
        <p>
            {{ lore.world.description | join("<br/>") | raw }}
        </p>
        <div class="lore-display">
            <div class="lore-display-btns">
                {% for e in lore.world.data %}
                    <div class="{% if e.important %}is-flex{% else %}is-hidden{% endif %} btn-lore-container">
                        <span class="button" disabled>
                            <span class="material-symbols-outlined">
                                {{ e.icon }}
                            </span>
                        </span>
                        <button class="btn-lore button" data-summary="{{ e.summary }}" data-description="{{ e.description | join("\n") }}">{{ e.name }}</button>
                    </div>
                {% endfor %}
                <button class="button" id="lore-see-all">See all</button>
            </div>
            <div id="lore-world-text-container" class="has-text-right">
                <textarea class="textarea" id="lore-world-text" rows="20" readonly>
                </textarea>
                <span id="lore-world-text-button">
                    <label class="label">See more details</label>
                    <label class="switch is-rounded">
                        <input type="checkbox" id="lore-world-text-button-input" />
                        <span class="check"></span>
                    </label>
                </span>
            </div>
        </div>
    </div>
    <div class="container">
        <h2 class="title">Minipi</h2>
        <p>
            Minipi are small robot-shaped being belonging to Katsis lore
        </p>
        <a class="button" target="_blank" href="https://minipi.zirk.eu/">See more</a>
    </div>
</div>